
body {
background-color: #89E1DF;
}


#title {
  font-family: cursive;
  font-size: 75px;
  text-align: center;

}

img {
	width: 60px;
	height: 60px;
	float: left;
}

ul {
	 list-style-type: none;
	 margin: 20px;
}

li {
	display: inline;
margin: 20px;
border: solid;
font-size: 30px;

}




.top {
background-color: #F3BF6A
}


#bahamasPic {
	width: 93%;
	height: 350px;
	padding: 50px;
}

#bahamas {
	font-size: 60px;
	padding: 50px;
	font-family: cursive;
	text-align: center;
	color: black;
}

p {
	font-size: 35px;
	text-align: center;
}




.middle1 {

}

#italy {
	text-align: center;
	font-size: 60px;
	font-family: cursive;
}

#italyPic {
		width: 93%;
	height: 350px;
	padding: 50px;
}



.middle2 {

}

#greece {
		text-align: center;
	font-size: 60px;
	font-family: cursive;
}

#greecePic {
			width: 93%;
	height: 350px;
	padding: 50px;
}
}































