body {
	background-color: #5499D3;
}


h1 {
  font-family: cursive;
  font-size: 75px;
  text-align: center;

}

img {
	width: 60px;
	height: 60px;
	float: left;
}


ul {
	 list-style-type: none;
	 margin: 20px;
}

li {
	display: inline;
	margin: 20px;
}



