

body {
	background-color: white;
}


ul {
	 list-style-type: none;
	 margin: 20px;
}

li {
	display: inline;
	margin: 20px;
}

h2 {
	font-family: cursive;
	font-size: 30px;
}

#nav {
	background-color: #DECBCC;
	position: fixed;
	width: 100%;
 	top:0px;
 	left: 0px;
}

#list {
	position:absolute;
    top:0;
    right:0;
}

#title{
	font-family: cursive;
	font-size: 75px;
	text-align: center;
}

.top {
	background-color: #80E79C;

}


.flightHeadings {
	text-align: center;
	font-size: 40px;
	font-family: cursive;
}

.pictures {
	width: 450px;
	height: 240px;
	border-radius: 15px;
}

#homeIcon {
	width: 50px; 
	height: 50px;
}

#bahamas {
background-color: #A7CDFD;
border-radius: 25px;
}

#italy {
background-color: #FFBDA8;
border-radius:  25px;
}

#greece {
background-color: #F1687B;
border-radius:  25px;
}

.flightLinks {
	text-align: center;
}

.imgAirplane {
	float: right;
	width: 400px;
}














